html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}
ul li {
    line-height: 16px;
    margin-bottom: 8px;
    position: relative;
}
ul li:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0%,-50%);
    width: 10px;
    height: 10px;
    background-image: url("../img/ring.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}
ol li {
    margin-bottom: 30px;
}
.left-box, .right-box {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    padding: 60px;
    position: relative;
}
.left-box {
    background-color: #ffffff;
}
.left-box .img {
    width: 100%;
    height: 460px;
    max-height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/tubes.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.logo {
    margin-bottom: 80px;
}
.logo img {
    max-height: 52px;
}
.contacts {
    margin-top: 120px;
}